MYSQL_DATABASE={{ vault_secrets.secret.MYSQL_DATABASE }}
MYSQL_ROOT_PASSWORD={{ vault_secrets.secret.MYSQL_ROOT_PASSWORD }}
MYSQL_USER={{ vault_secrets.secret.MYSQL_USER }}
MYSQL_PASSWORD={{ vault_secrets.secret.MYSQL_PASSWORD }}