MYSQL_DATABASE={{ vault_secrets.json.data.MYSQL_DATABASE }}
MYSQL_ROOT_PASSWORD={{ vault_secrets.json.data.MYSQL_ROOT_PASSWORD }}
MYSQL_USER={{ vault_secrets.json.data.MYSQL_USER }}
MYSQL_PASSWORD={{ vault_secrets.json.data.MYSQL_PASSWORD }}